:root {
  /* CSS HSL */
  --primary: hsla(23, 100%, 59%, 1);
  --primary-transparent: hsla(23, 100%, 59%, 0.9);
  --text: hsla(0, 0%, 12%, 1);
  --background: hsla(0, 0%, 100%, 1);
  --platinum: hsla(120, 4%, 91%, 1);
  --secondary: hsla(120, 2%, 81%, 1);

  --gradient-top: linear-gradient(0deg, #ff7f30ff, #ffffffff);
  --gradient-right: linear-gradient(90deg, #ff7f30ff, #ffffffff);
  --gradient-bottom: linear-gradient(180deg, #ff7f30ff, #ffffffff);
  --gradient-left: linear-gradient(270deg, #ff7f30ff, #ffffffff);
  --gradient-top-right: linear-gradient(45deg, #ff7f30ff, #ffffffff);
  --gradient-bottom-right: linear-gradient(135deg, #ff7f30ff, #ffffffff);
  --gradient-top-left: linear-gradient(225deg, #ff7f30ff, #ffffffff);
  --gradient-bottom-left: linear-gradient(315deg, #ff7f30ff, #ffffffff);

  /* Radial Gradients */
  --gradient-radial: radial-gradient(circle, #ff7f30ff, #ffffffff);
  --gradient-radial-reverse: radial-gradient(circle, #ffffffff, #ff7f30ff);

  /* Conic Gradients */
  --gradient-conic: conic-gradient(from 0deg, #ff7f30ff, #ffffffff);
  --gradient-conic-reverse: conic-gradient(from 0deg, #ffffffff, #ff7f30ff);

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind", sans-serif;
}


body {
  width: 100%;
  background: var(--background);
  overflow: hidden;
}

html {
  line-height: 1; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

select {
  text-transform: none;
}

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*! normalize css end */

/** Project css */
h1 {
  font-size: 4rem;
  font-family: var(--font-primary);
}
h2 {
  font-size: 3rem;
  font-family: var(--font-primary);
}
h3 {
  font-size: 2rem;
  font-family: var(--font-primary);
}
h4 {
  font-size: 1rem;
  font-family: var(--font-primary);
}

p {
  font-size: 2rem;
  font-family: var(--font-secondary);
}
a {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
}
.primary-btn {
  background-color: var(--primary);
  color: var(--text);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.primary-btn:hover {
  transform: translateY(-5px);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.secondary-btn {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: var(--font-primary);
  position: relative;
}

.secondary-btn:hover {
  transform: translateY(-5px);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
}
.main {
  display: flex;
}
header {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 2rem;
  /* border: 1px solid red; */
}
.sidebar-space {
  width: 0%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.show {
  width: 20%;
}
.logo {
  display: flex;
  align-items: center;
}

.logo button {
  margin-right: 1rem;
}

.head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.body-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;
  margin-left: 2rem;
  /* border: 1px solid red; */

}
.body-container h3{
  margin: 1rem 0 2rem 0;
}.slot-container h3{
  margin-top: 1rem;
}
.container {
  width: 100%;
}
aside {
  min-width: 17%;
  background-color: var(--primary);
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  color: var(--text-white);
}
.overlay {
  left: 0;
}

aside h2 {
  margin: 2rem 0 0 0.5rem;
  text-align: center;
}
.sidebar-container ul {
  padding: 15px;
  margin: 10px 0;
}
.sidebar-container ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.4rem;
  /* border: 4px solid red; */
}
.sidebar-container ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: medium;
  /* border: 1px solid red; */
  padding-top: 0.4rem;
}
aside.overlay,
.sidebar-space.show {
  animation: slidein 0.3s forwards;
}
aside:not(.overlay),
.sidebar-space:not(.show) {
  animation: slideout 0.5s backwards;
}
@keyframes slidein {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.slot-container {
  width: 100%;
}
.greyGridTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table tr td,
th {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 1.5rem;
}



.greyGridTable th,
.greyGridTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.greyGridTable td:nth-child(even) {
  background-color: var(--primary);
}
.greyGridTable th:nth-child(even) {
  background-color: var(--primary);
}

.greyGridTable th:hover {
  background-color: var(--primary-transparent);
}
.greyGridTable td:hover {
  background-color: var(--primary-transparent);
}
