:root {
  /* CSS HSL */
  --primary: hsla(23, 100%, 59%, 1);
  --primary-transparent: hsla(23, 100%, 59%, 0.9);
  --text: hsla(0, 0%, 12%, 1);
  --background: hsla(0, 0%, 100%, 1);
  --platinum: hsla(120, 4%, 91%, 1);
  --secondary: hsla(120, 2%, 81%, 0.3);

  --gradient-top: linear-gradient(0deg, #ff7f30ff, #ffffffff);
  --gradient-right: linear-gradient(90deg, #ff7f30ff, #ffffffff);
  --gradient-bottom: linear-gradient(180deg, #ff7f30ff, #ffffffff);
  --gradient-left: linear-gradient(270deg, #ff7f30ff, #ffffffff);
  --gradient-top-right: linear-gradient(45deg, #ff7f30ff, #ffffffff);
  --gradient-bottom-right: linear-gradient(135deg, #ff7f30ff, #ffffffff);
  --gradient-top-left: linear-gradient(225deg, #ff7f30ff, #ffffffff);
  --gradient-bottom-left: linear-gradient(315deg, #ff7f30ff, #ffffffff);

  /* Radial Gradients */
  --gradient-radial: radial-gradient(circle, #ff7f30ff, #ffffffff);
  --gradient-radial-reverse: radial-gradient(circle, #ffffffff, #ff7f30ff);

  /* Conic Gradients */
  --gradient-conic: conic-gradient(from 0deg, #ff7f30ff, #ffffffff);
  --gradient-conic-reverse: conic-gradient(from 0deg, #ffffffff, #ff7f30ff);

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind", sans-serif;
}

body {
  width: 100%;
  background: var(--background);
  overflow-x: hidden;
}

html {
  line-height: 1; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

select {
  text-transform: none;
}

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*! normalize css end */

/** Project css */
h1 {
  font-size: 4rem;
  font-family: var(--font-primary);
}
h2 {
  font-size: 3rem;
  font-family: var(--font-primary);
}
h3 {
  font-size: 2rem;
  font-family: var(--font-primary);
}
h4 {
  font-size: 1rem;
  font-family: var(--font-primary);
}

p {
  font-size: 2rem;
  font-family: var(--font-secondary);
}
a {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
}
input[type="date"]{
  font-family: var(--font-primary);
  padding: .5rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 2px solid var(--primary);
}
input[type="date"]:focus-visible{
  outline: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;
  
}
.primary-btn {
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.btn-success {
  background-color: rgba(29, 170, 16, 0.158);
  color:rgb(0, 92, 54);
  font-weight: 700;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.btn-success a{
  color:rgb(0, 92, 54);
}
.btn-paid {
  background-color: rgba(16, 139, 170, 0.158);
  color: rgba(0, 9, 139, 0.808);
  font-weight: 700;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.btn-paid a{
  color:rgba(0, 7, 95, 0.993);;
}
.btn-danger {
  background-color: rgba(170, 39, 16, 0.158);
  color: rgba(170, 39, 16, 0.808);
  font-weight: 700;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.primary-btn:hover {
  transform: translateY(-5px);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
}

.secondary-btn {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: var(--font-primary);
  position: relative;
}

.secondary-btn:hover {
  transform: translateY(-5px);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
}
.main {
  display: flex;
}
header {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 2rem;
  /* border: 1px solid red; */
}
.sidebar-space {
  width: 0%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.show {
  width: 20%;
}
.logo {
  display: flex;
  align-items: center;
}

.logo button {
  margin-right: 1rem;
}

.head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.body-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;
  margin-left: 2rem;
  /* border: 1px solid red; */
}
.body-container h3 {
  margin: 2rem 0 2rem 0;
}
.container {
  width: 100%;
}
aside {
  min-width: 17%;
  background-color: var(--background);
  border: 1px solid var(--platinum);
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  color: var(--text-white);
}
.overlay {
  left: 0;
}

.toggle-btn{
  padding:1rem .5rem;
  border-radius: .5rem;
}
.toggle-btn:hover{
  transform: rotate(90deg);
  background-color: var(--font-secondary);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
}


aside h2 {
  margin: 2rem 0 0 0.5rem;
  text-align: center;
}
.sidebar-container ul {
  padding: 15px;
  margin: 10px 0;
}
.sidebar-container ul li {
  list-style-type: none;
  display: flex;
  
  align-items: center;
  cursor: pointer;
  padding: 0.4rem;
  /* border: 4px solid red; */
}
.sidebar-icon{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
.sidebar-container ul li:hover {
  background-color: var(--secondary);
  padding-left: 1rem;
  transition: padding 0.3s ease-in-out;
  /* transition: color 0.3s ease-in-out; */
  border-radius: .5rem;
}
.sidebar-container ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: medium;
  /* border: 1px solid red; */
  padding-top: 0.4rem;
}
aside.overlay,
.sidebar-space.show {
  animation: slidein 0.3s forwards;
}
aside:not(.overlay),
.sidebar-space:not(.show) {
  animation: slideout 0.5s backwards;
}
@keyframes slidein {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.slot-container {
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
}
table tr td,
th {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 1.5rem;
}

.greyGridTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.greyGridTable th,
.greyGridTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.greyGridTable td:nth-child(even) {
  background-color: var(--secondary);
}
.greyGridTable th:nth-child(even) {
  background-color: var(--secondary);
}


.reports {
  display: flex;
  width: 100%;
}
.slots-graph {
  width: 100%;
  margin: 1rem;
  /* border:1px solid red; */
}
/* .income-graph {
  width: 50%;
  margin: 1rem;
} */
.income-grid-table table {
  width: 100%;
  border-collapse: collapse;
}

.income-grid-table td {
  font-size: 1.4rem;
}

.income-grid-table th,
.income-grid-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.income-grid-table th {
  background-color: var(--secondary);
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary-container .box {
  width: 32%;
  padding: 1rem;
  border: 1px solid var(--platinum);
  color: var(--text-white);
  border-radius: 0.5rem;
}
.result {
  padding: 1rem;
}
.result p:first-child {
  font-family: var(--font-primary);
  font-weight: 700;
}

.result p:last-child {
  font-size: 1.5rem;
  color: var(--text);
}

.icon-container {
  width: 5.5rem;
  height: 5.5rem;
  border: .2rem solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

/** Booking Details table  */
.booking-details-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.booking-details-table th,
.booking-details-table td,
.booking-details-table tr {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.booking-details-table th {
  background-color: var(--secondary);
}

 .booking-details input[type="date"] {
  max-width: 15%;
 }

 .filter-container{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* border: 1px solid red; */
 }
 button a{
  text-decoration: none;
  color: white;
 }
/** Form */
.form {
  width: 60rem;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: .8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.form h3 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--font-primary);
  font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type='date'],
input[type='file'],
textarea {
  width: 97%;
  padding: .5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--primary);
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type='date']:focus,
input[type='file']:focus,
textarea:focus {
  outline: none;
  background-color: #f7f7f7;
  border-radius: .5rem;
}

select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--primary);
  background-color: none;
}

select:focus{
  outline: none;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 40%;
  font-family: var(--font-primary);
  
}
.modal-content p {
  display: flex;
  font-size: 2rem;
  align-items: center;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.action-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-form {
  width: auto;
  height: auto;
  margin: none;
  padding: none;
  background-color:none;
  border-radius: none;
  box-shadow: none;
  padding: .2rem;
}
.edit-form {
  width: auto;
  height: auto;
  margin: none;
  padding: none;
  background-color:none;
  border-radius: none;
  box-shadow: none;
  padding: .2rem;
}
.checkout-group{
  display: flex;
  justify-content:space-between;
  width: 100%;
  gap: 2rem;
}

.bill{
  border:1px solid var(--platinum);
  border-radius: 1rem;
  padding-top: 1rem;
}
.bill span:first-child{
  margin: 1rem;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 600;
}
.bill h3:first-child{
  line-height: 1rem;
  padding-bottom: 0;
}
.bill p:first-child{
  padding-top: 0;
  text-align: center;
}

/* ivoice */
.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(4) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

.download-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  margin-top: 2rem;
}
#checkout-total{
  font-size: 3rem;
  font-weight: 700;
  margin: .5rem 0;
}

.checkout-bottle-group{
  display: flex;  
  /* border: 1px solid var(--platinum); */
  border-radius: 1rem;
  width: 48%;
}

.avatar-img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
} 

.page-container{
  width: 100%;
  min-height: 60vh;
  display: none;
}

.show-page{
  display: block;
}

.report-box:hover{
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.up{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  text-align: left;
}
.up p{
  font-size: 1.4rem;
  padding: 0;
  line-height: none;
  margin-block-start: 0;
  margin-block-end: 0;
  
}
